.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(150px, 45%);
}

.control {
  background-color: gray;
  height: 100vh;
  overflow: auto;
}

.requestControl {
  margin-bottom: 20px;
}

.filterHolder {
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  border: 1px solid red;
}

.filterHolder > input {
  margin-right: 20px;
}